<h4 class="text-center"><%= @journal.name %> Entries</h4>
<div id="calendar" class="journal-calendar"></div>
<script type="text/javascript">
    var journalEntriesPageReady = function(){
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next, today',
                center: 'title',
                right:  'month,basicWeek,basicDay'
            },
            events: {
                url: '/journal_entries_calendar/events',
                type: 'post',
                color: 'green',
                backgroundColor: 'green'
            },
            eventAfterRender: function(event, element) {
                var eventLeft = $(element).position().left;
                var eventWidth = $(element).width();
                eventLeft = eventLeft + (eventWidth/2);
                var windowWidth = $(window).width();
                var placement = 'right'
                var test = event.title + " " + windowWidth + " " + eventLeft + ' ' + (eventLeft/windowWidth);
                if (eventLeft/windowWidth > .5) {
                    placement = 'left'
                }
                element.popover({
                    title: event.title,
                    container: 'body',
                    trigger: 'hover',
                    content: event.snippet,
                    placement: placement

                })
            }
        });
    };

    // rails caches javascript in the browser. We need to set a listener to
    // call the calendar initialization again.
    $(document).ready(journalEntriesPageReady);
    $(document).on('page:change', journalEntriesPageReady);

    /** close popovers when clicking outside of popover */
</script>