<nav class="navbar navbar-default context-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn-xs" data-toggle="collapse" data-target="#context-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand context-navbar-context-title"></span>
        </div>
        <div id="context-navbar-collapse" class="collapse navbar-collapse">
            <form id="context-search-query" class="navbar-form navbar-left" role="search" method="POST">
                <input name="search-query" class="search-query form-control page-search-input" type="text" placeholder="Search Page">
            </form>
            <form class="navbar-form">
                <button class="btn btn-xs btn-success">Button</button>
                <button class="btn btn-xs btn-default">Button</button>
                <button class="btn btn-xs btn-default">Button</button>
                <button class="btn btn-xs btn-default">Button</button>
            </form>
        </div>
    </div>
</nav>