<div class="banner">
        <div class="container-narrow">
            <h1>ScholarTree</h1>
            <p>An network dedicated to discovering people, places, events, and challenges
               intended to support a lifetime of personal growth.</p>
        </div>
    </div>

    <div class="container-narrow">
      <div class="row-fluid">
        <div class="span12">
            <h4>Inception</h4>
            <p>The original inception for ScholarTree was a network of privately funded, miniature scholarships
                designed to engage and inspire students who have withdrawn from the education system. Scholarships
                would target students who have struggled to develop a passion or interest in learning. The idea was that
                scholarships would be modeled as projects where the student would engage or participate in a
                new activity designed to appeal to their particular interests or learning style.</p>
        </div>
       </div><!--/row-->
       <div class="row-fluid">
                 <div class="section">
                   <div class="span12">
                       <h4>Identity</h4>
                       <p>Finish...</p>
                   </div>
                 </div><!-- section -->
              </div><!--/row-->

        <div class="footer" />
          <footer>
            <p>&copy; ScholarTree 2014</p>
          </footer>
        </div>
    </div> <!-- /container -->
