<div class="banner">
        <div class="container-narrow">
            <h1>ScholarTree</h1>
            <p>A network dedicated to pursuing a lifetime of personal growth.</p>
        </div>
    </div>

    <div class="container-narrow">
      <div class="row-fluid">
        <div class="span12">
            <h4>Inception</h4>
            <p>The original inception for ScholarTree was a platform for privately funded, "micro" scholarships
                designed to engage and inspire any and all students. These scholarships would come in the form of projects where
                the student participates and engages in a particular subject or vocation intended to expand their awareness, creativity,
                and fascination with learning. After creating a profile with ScholarTree describing their interests, personality,
                learning style, grade level, etc, students would then have the opportunity to engage in scholarship projects that best match
                their profile.
            </p>
        </div>
       </div><!--/row-->
       <div class="row-fluid">
                 <div class="section">
                   <div class="span12">
                       <h4>Identity</h4>
                       <p>The current focus of the project is on the creation and modeling of a student's profile.
                           We believe that the success of the concept lies in the ability to accommodate students' individual
                           learning styles. Part of learning and growing is discovering your identity.  The better we understand
                           our identities and the aspects of life we find meaningful, the more likely we are to discover and pursue
                           an education, vocation, and life that align with our true selves.
                       </p>
                   </div>
                 </div><!-- section -->
              </div><!--/row-->

        <div class="footer" />
          <footer>
            <p>&copy; ScholarTree 2014</p>
          </footer>
        </div>
    </div> <!-- /container -->
