<% content_for :head do %>
    <script type="text/template" id="entry-template">
        <div class="entry-title-container">
            <h5><%%= title %></h5>
        </div>
        <div class="entry-snippet-container"><%%= snippet %></div>
    </script>

    <script type="text/template" id="photo-template">
        <img src="<%%= url %>">
    </script>

    <script type="text/template" id="entry-row-template">
        <div class="row-fluid entry-row"></div>
    </script>

    <script type="text/javascript">
        $('document').ready(function(){
            var journalContainer = new JournalContainer();

            journalContainer.render();

            $('.entries').on('click', '.entry-container', function(){$('#entry-modal').modal();});
        });

    </script>
<% end %>
<div id="journal-container"></div>

<div id="entry-modal" class="modal hide fade">
  <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   <h3>Testing Header</h3>
  </div>
  <div class="modal-body">
    <p>Testing the body</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" data-dismiss="modal">Edit</a>
  </div>
</div>
