<script type="text/template" id="entry-template">
    <div class="entry-title-container bootstrap-column-small-gutter">
        <h5><%%= title %></h5>
        <div class="entry-snippet-container"><%%= snippet %></div>
    </div>
</script>

<script type="text/template" id="photo-template">
    <div class="bootstrap-column-small-gutter">
        <img src="<%%= url %>" alt="<%%= description %>" height="<%%= height %>" width="<%%= width %>">
    </div>
</script>

<script type="text/template" id="book-template">
    <div class="bootstrap-column-small-gutter">
        <img src="<%%= url %>" alt="<%%= title %>" height="<%%= height %>" width="<%%= width %>">
    </div>
</script>

<script type="text/javascript">
    $('#journal-container').ready(function(){
        window.journalContainer = new JournalContainer();
        window.journalContainer.render();
    });
</script>
<div id="journal-container" class="search-context" search-url="/photo_journal/show"></div>

<div id="journal-item-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p class="modal-body-text"></p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-sm btn-default" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-sm btn-primary" data-dismiss="modal">Edit</a>
            </div>
        </div>
    </div>
</div>
