<form action="<%= photos_create_path %>" class="dropzone dz-clickable" enctype="multipart/form-data">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <div class="fallback">
  </div>
</form>
