/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require dropzone/dropzone
 *= require twitter/bootstrap
 */
.under-navbar {
    /* prevents navbar from covering content. */
    padding-top: 70px;
}

.no-padding {
    padding: 0px;
}

.journal-calendar {
    min-width: 500px;
}

.banner {
    z-index: -1;
    margin-bottom: 30px;
    background: -webkit-linear-gradient(left, darkgreen, green, darkgreen); /* For Safari */
    background: -o-linear-gradient(left, darkgreen, green, darkgreen); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, darkgreen, green, darkgreen); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, darkgreen, green, darkgreen); /* Standard syntax */
    padding: 60px 10px 60px 10px;
    text-align: center;
    color: black;
}

.banner h1 {
    font-size: 72px;
    line-height: 1;
}

.banner p {
    font-size: 21px;
    font-weight: 200;
    line-heigh: 30px;
}
.fixed-width-content-container {
    max-width: 700px;
    margin: 0 auto;
}

.full-screen-content-container {
    margin: 0 auto;
}

textarea {
    width: 100%;
}

.footer {
    margin-top: 30px;
}

@media all and (max-width: 500px) {
    .banner h1 {
        font-size: 46px;
        line-height: 1;
    }
}

article p {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 -20px;
}

.journal-entry-header {
    border-bottom: 1px solid #eeeeee;
}

.spin {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    -webkit-transform-origin: 50% 50%;
    transform-origin:50% 50%;
    -ms-transform-origin:50% 50%; /* IE 9 */
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.glyphicon-success {
    color: green;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}