/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require dropzone/dropzone
 */
body {
    /* prevents navbar from covering content. */
    padding-top: 40px;
}

.journal-calendar {
    min-width: 500px;
}

header {
    z-index: -1;
    display: block;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 30px;
    background: -webkit-linear-gradient(left, darkgreen, green, darkgreen); /* For Safari */
    background: -o-linear-gradient(left, darkgreen, green, darkgreen); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, darkgreen, green, darkgreen); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, darkgreen, green, darkgreen); /* Standard syntax */
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    color: black;
}

header h1 {
    font-size: 72px;
    line-height: 1;
}

header p {
    font-size: 21px;
    font-weight: 200;
    line-heigh: 30px;
}
.content-container {
    max-width: 700px;
    margin: 0 auto;
}

textarea {
    width: 100%;
}

.footer {
    margin-top: 30px;
}

@media all and (max-width: 500px) {
    header h1 {
        font-size: 46px;
        line-height: 1;
    }
}
